ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 150 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: none;
}
 
li:last-child {
  border: none;
}
 
li div {
  font: 200 12px/1 italic Helvetica, Verdana, sans-serif ;
  border-bottom: 1px solid #ccc;
}
 
