ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 150 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: none;
}
 
li:last-child {
  border: none;
}
 
li div {
  font-weight:200;
  font-style:italic;
  font-family:Arial;
  font-size:smaller;
  text-indent:each-line;
  border-bottom: 1px solid #ccc;
}
 
